* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
body.noscroll {
  overflow: hidden;
}
.flex {
  display: flex;
}
.flex dd:nth-child(2) {
  padding-bottom: 10px;
}
.space-around {
  justify-content: space-around;
}
.text-min {
  font-size: 12px;
}
.header {
  background:#A85B28;
  color: #fff;
  height: 74px;
  padding: 0 120px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-item {
  color: #DED2BF;
  margin-right: 55px;
}
.nav-item a {
  transition: 2s;
}
.nav-item a:hover {
  color: #DED2BF;
  transition: 1s;
}
.burger-btn {
  display: none;
}
.contents {
  height: 90vh;
  background-image: url(../img/mac.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-copy {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 34px 42px;
}
.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}
.section-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.1em;
  margin:60px 0;
  padding-left:1em;
  border-left: 5px solid #A85B28;
}
.section-wrapper {
  padding: 100px 10% 50px;
}
.site-cts {
  width: 100%;
  margin: auto;
}
.site-img {
  max-width: 30vw;
}
.site-cts-text{
  max-width: 45vw;
  width: 100%;
  margin-left: 3vw;
}
.site_cts-text h4:first-child {
  margin-top: 0;
}
.site-cts-text h4 {
  font-weight: bold;
  margin-top: 20px;
}
.site-cts-text h4:first-child {
  margin-top: 0;
}
.site-cts-text p, .site-cts-text li {
  padding-left: 2em;
  text-indent: -1em;
  text-align: justify;
}
.site_btn {
  max-width: 300px;
  padding: 10px;
  border-radius: 25px;
  background: #A85B28;
  font-size: 20px;
  color: aliceblue;
  text-align: center !important;
  margin: 30px auto 50px;
  box-shadow: 3px 3px 5px #ccc;
  transition: 0.2s;
}
.site_btn:hover {
  box-shadow: 5px 5px 5px #fff;
  transform: translate(2px,2px);
}

.footer {
  background:#A85B28;
  color: #fff;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 5%;
  }
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
  }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%, 10px) rotate(45deg);
    transition: transform 0.3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
  .nav-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .header-nav {
    width: 100%;
    height: 100%;
    background-color: #A85B28;
    z-index: 2;
  }
  .header-nav .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-nav .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .main-copy {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .section-wrapper {
    padding: 100px 5% 50px;
  }
}
